*{
  box-sizing: border-box;
}

.photos-container{
  position: relative;
  width: 60%;
  height: 800px;
  margin: auto;
  margin-top: 200px;
  
}

.photos-container .img-container{
  
  width: 100%;
  height: 100%;
  
  
}

span{
  
}

.photos-container .img-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  
  
  
}

.photos-container .top-arrow, .photos-container .bottom-arrow{
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  background-color: #DCDCDC;
  position:absolute;
  cursor: pointer;
  color: black;
  transform: translateX(50%);

}

.photos-container .top-arrow{
  top: 2%;
  left: 50%
}

.photos-container .bottom-arrow{
  bottom: 2%;
  left: 50%
}